.cm-linker{
    position:absolute;
    top: 0;
    left: 0;
    width:auto;
    height:auto;
    background-color: #fff;
    padding:5px;
    padding-bottom: 5px;
    border-radius: 5px;
    border: 1px solid red;
    box-shadow: -5px #ccc;
    overflow: hidden; 
}